<div class="post-box">
  <div class="post-box__content">
    <h2 class="content__title">{{ child.title }}</h2>
    <p class="content__description">
      {{ child.description }}
    </p>
  </div>

  <div class="content__bottom">
    <h3>{{ child.source }}</h3>
    <h3>{{ child.author }}</h3>
    <h3>{{ child.date }}</h3>
    <div class="content__bottom__buttons">
      <button mat-raised-button color="warn" (click)="onDeletePost()">
        Delete
      </button>
      <button mat-raised-button color="accent">Edit</button>
    </div>
  </div>
</div>
