<div class="card-box">
  <div class="card-form">
    <h3>Add card</h3>
    <form
      [formGroup]="CardForm"
      (ngSubmit)="onSubmitCreate()"
      class="card-form__form"
    >
      <mat-form-field class="card-form__row" appearance="fill">
        <mat-label>Title</mat-label>
        <input
          type="text"
          matInput
          placeholder="Title"
          formControlName="title"
        />
      </mat-form-field>
      <mat-form-field class="card-form__row" appearance="fill">
        <mat-label>Description </mat-label>
        <input
          type="text"
          matInput
          placeholder="Your description"
          formControlName="description"
        />
      </mat-form-field>
      <mat-form-field class="card-form__row" appearance="fill">
        <mat-label>Source</mat-label>
        <input
          type="text"
          matInput
          placeholder="Your source"
          formControlName="source"
        />
      </mat-form-field>
      <mat-form-field class="card-form__row" appearance="fill">
        <mat-label>Author</mat-label>
        <input
          type="text"
          matInput
          placeholder="Author"
          formControlName="author"
        />
      </mat-form-field>

      <mat-form-field class="card-form__row" appearance="fill">
        <mat-label>Date</mat-label>
        <input type="date" matInput formControlName="date" />
      </mat-form-field>

      <button
        type="submit"
        color="primary"
        [disabled]="CardForm.invalid"
        mat-raised-button
        mat-dialog-close
      >
        Accept
      </button>
    </form>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
