.reg-box {
  height: 100%;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  background-image: url(../../../assets/loginpic.webp);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  padding: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.reg-form {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 500px;
  background-color: white;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__row {
    width: 20rem;
  }

  &__form {
    display: contents;
  }
}

.auth-button-reg {
  padding: 10px;
  margin-top: 1rem;
  text-decoration: none;
  color: blue;
}

.auth-button-reg:hover {
  font-size: 1.5rem;
  transition: ease-in-out 1s;
}

@media screen and (max-width: 900px) {
  .reg-box {
    width: 100%;
  }
}

::ng-deep .custom-style {
  background-color: rgb(37, 177, 81);
  color: white;
}
::ng-deep .custom-styleRed {
  background-color: rgb(212, 49, 8);
  color: white;
}
