<div class="container">
  <div class="header">
    <div class="headerBox">
      <h1 class="headerBox__title">IBook</h1>
      <div class="headerBox__bottom">
        <div class="bottom__options">
          <cdk-virtual-scroll-viewport
            appendOnly
            itemSize="50"
            class="vs-viewport"
          >
            <a
              *cdkVirtualFor="let item of news"
              class="vs-size"
              target="_blank"
              href="{{ item.url }}"
            >
              <div class="vs-item">
                <div *ngIf="loaderService.isLoading | async" class="spinner">
                  <mat-spinner></mat-spinner>
                </div>
                {{ item.title | truncate: 40 }}
              </div>
            </a>
          </cdk-virtual-scroll-viewport>
        </div>

        <input type="search" class="bottom__search" />
        <button mat-raised-button color="primary" (click)="createPost()">
          Add article
        </button>

        <cdk-accordion class="accordion">
          <cdk-accordion-item
            #accordionItem="cdkAccordionItem"
            class="example-accordion-item"
            [attr.aria-controls]="'accordion-body-'"
          >
            <div
              class="example-accordion-item-header"
              (click)="accordionItem.toggle()"
            >
              <div class="name-box">
                <mat-icon>face</mat-icon>
                <h1 class="icon-name">Welcome, {{ user.user.username }}</h1>
              </div>
              <span class="example-accordion-item-description">
                <!-- Click to {{ accordionItem.expanded ? "close" : "open" }} -->
              </span>
            </div>
            <div
              class="example-accordion-item-body"
              [style.display]="accordionItem.expanded ? '' : 'none'"
              [attr.aria-labelledby]="'accordion-header-'"
            >
              <a class="logout" routerLink="/login" (click)="logout()">
                <h1>Logout</h1>
                <mat-icon>exit_to_app</mat-icon></a
              >
            </div>
          </cdk-accordion-item>
        </cdk-accordion>

        <!-- <div class="name-box">
          <mat-icon>face</mat-icon>
          <h1 class="icon-name">Welcome, {{ user.user.username }}</h1>
        </div> -->
      </div>
    </div>
  </div>
  <section class="newsHeader">
    <a class="linkPage" routerLink="myArticles" routerLinkActive="active-link"
      >My articles
    </a>
    <a class="linkPage" routerLink="content" routerLinkActive="active-link"
      >Top News</a
    >
  </section>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
