.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.05fr 1.6fr;
  grid-template-areas:
    "header"
    "bottom-header"
    "main-content";
}
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(240, 107, 107);
  grid-area: header;
  flex-direction: column;
}

.newsHeader {
  display: flex;
  color: white;
  background-color: #506ec9;
  width: 100%;
  height: 2.2rem;
  grid-area: bottom-header;
  justify-content: space-around;
  align-items: center;
}

.linkPage {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.linkPage:hover {
  color: white;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  transition: 0.4s ease-in-out;
}
.active-link {
  color: white;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.main-content {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: start;
  width: 100%;
  background-color: rgb(247, 196, 139);
  grid-area: main-content;
}
.headerBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.headerBox__title {
  font-family: "Times New Roman", Georgia, Serif;
  color: white;
  padding-top: 5px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.headerBox__bottom {
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottom__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.bottom__search {
  width: 25%;
  height: 30px;
}

.name-box {
  display: flex;
  justify-content: center;
  text-align: center;
}
.mat-icon {
  color: #c6d3fa;
}

.logout {
  height: 2.5rem;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  display: flex;
  text-decoration: none;
  color: #c6d3fa;

  .mat-icon {
    padding-bottom: 0rem;
  }
  h1 {
    margin: 0;
  }
}
.logout:hover {
  background-color: rgb(0, 0, 0);
  .mat-icon {
    color: rgb(255, 255, 255);
  }
  color: rgb(255, 253, 253);
}

.icon-name {
  font-family: "Times New Roman", Georgia, Serif;
  color: #c6d3fa;
  line-height: 1.5rem;
}

.accordion {
  display: block;
  max-width: 12rem;
}

.accordion-item {
  display: block;
  border: solid 1px #ccc;
}

.example-accordion-item + .example-accordion-item {
  border-top: none;
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.example-accordion-item-header,
.example-accordion-item-body {
  height: 2rem;
  padding: 3px;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  background-color: #eee;
}

.vs-viewport {
  height: 5rem;
  width: 10rem;
  border: 1px solid black;
}

.vs-item {
  background-color: white;
  height: 3rem;
  border-bottom: 1px solid black;
}

.vs-item:hover {
  background-color: #a8bbf4;
}

.vs-size {
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: 0.7rem;
}
