.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1.7fr;

  grid-template-areas:
    "header"
    "main-content";
}
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(240, 107, 107);
  grid-area: header;
  flex-direction: column;
}

.newsHeader {
  display: flex;
  color: white;
  background-color: rgb(226, 54, 54);
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.main-content {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(247, 196, 139);
  grid-area: main-content;
}
.headerBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.headerBox__title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.headerBox__bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottom__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.bottom__search {
  width: 25%;
  height: 30px;
}
