<div class="post">
  <div class="header-top">
    <h1 class="cont-text">My article</h1>
    <div class="header">
      <mat-icon
        routerLink="../.."
        *ngIf="editActive === false && deleteActive === false"
        >exit_to_app</mat-icon
      >
      <mat-icon
        *ngIf="deleteActive === false"
        (click)="editActive = !editActive"
        [ngClass]="{ colorW: editActive }"
        >edit</mat-icon
      >
      <mat-icon
        *ngIf="editActive === false"
        (click)="deleteActive = !deleteActive"
        [ngClass]="{ colorW: deleteActive }"
        >delete</mat-icon
      >
    </div>
  </div>
  <input
    class="title"
    type="text"
    [disabled]="!editActive"
    [(ngModel)]="postData.title"
  />

  <div class="info">
    <input
      class="title"
      type="text"
      [disabled]="!editActive"
      [(ngModel)]="postData.author"
    />
    <input
      class="title"
      type="text"
      [disabled]="!editActive"
      [(ngModel)]="postData.date"
    />
    <input
      class="title"
      type="text"
      [disabled]="!editActive"
      [(ngModel)]="postData.source"
    />
  </div>

  <div class="mainText">
    <textarea
      class="title"
      type="text"
      cols="30"
      rows="10"
      [disabled]="!editActive"
      [(ngModel)]="postData.description"
    ></textarea>
  </div>

  <button
    *ngIf="editActive === false && deleteActive === false"
    mat-raised-button
    color="primary"
    [cdkCopyToClipboard]="postData.description"
  >
    Copy to clipboard
  </button>

  <div *ngIf="editActive === true">
    <button (click)="editArticle()" mat-button color="primary">Save</button>
  </div>

  <div *ngIf="deleteActive === true">
    <button (click)="deleteArticle()" mat-fab color="warn">Delete</button>
  </div>
</div>
