<div class="post">
  <div class="header-top">
    <h1 class="cont-text">My article</h1>
    <div class="header">
      <mat-icon routerLink="../..">backspace</mat-icon>
      <mat-icon>edit</mat-icon>
    </div>
  </div>

  <h1 class="title">Title</h1>

  <div class="info">
    <strong>Author</strong>
    <small>12.19.2009</small>
  </div>

  <div>
    <p>
      efwfewfew jwef ewnjf wej fnnewj fnjwenj enwj nwenj nwjenj wenj njewnj ewnj
      jewfjewkfnlewf ewfm ewknf oewf bweuibf ew f
    </p>
    <p>
      efwfewfew jwef ewnjf wej fnnewj fnjwenj enwj nwenj nwjenj wenj njewnj ewnj
      jewfjewkfnlewf ewfm ewknf oewf bweuibf ew f
    </p>
    <p>
      efwfewfew jwef ewnjf wej fnnewj fnjwenj enwj nwenj nwjenj wenj njewnj ewnj
      jewfjewkfnlewf ewfm ewknf oewf bweuibf ew f
    </p>
  </div>
</div>
