.post {
  text-align: center;
  padding: 10px 10px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    margin-bottom: 0.5rem;
  }

  .info {
    strong {
      margin-right: 1rem;
    }
  }
}
.cont-text {
  border-bottom: 2px solid grey;
}
