<div class="post">
  <h1 class="cont-text">My article</h1>
  <div class="header">
    <h1>Title</h1>
    <button routerLink="/main/myArticles" class="btn btn-link">
      My articles
    </button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>12.19.2009</small>
  </div>

  <div>
    <p>
      efwfewfew jwef ewnjf wej fnnewj fnjwenj enwj nwenj nwjenj wenj njewnj ewnj
      jewfjewkfnlewf ewfm ewknf oewf bweuibf ew f
    </p>
    <p>
      efwfewfew jwef ewnjf wej fnnewj fnjwenj enwj nwenj nwjenj wenj njewnj ewnj
      jewfjewkfnlewf ewfm ewknf oewf bweuibf ew f
    </p>
    <p>
      efwfewfew jwef ewnjf wej fnnewj fnjwenj enwj nwenj nwjenj wenj njewnj ewnj
      jewfjewkfnlewf ewfm ewknf oewf bweuibf ew f
    </p>
  </div>
</div>
