.headerBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.headerBox__title {
  display: flex;
  justify-content: center;
}
.headerBox__bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottom__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.bottom__search {
  height: 30px;
}
