<div class="paginatorPage">
  <div *ngIf="loaderService.isLoading | async" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Mia"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table cdk-table [dataSource]="dataSource" matSort>
      <ng-container cdkColumnDef="id">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>ID</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container cdkColumnDef="title">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Title</th>
        <td class="content__title" cdk-cell *cdkCellDef="let row">
          {{ row.title | truncate: 50 | titlecase }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="urlToImage">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Image</th>
        <td class="content__title" cdk-cell *cdkCellDef="let row">
          <img class="image" src="{{ row.urlToImage }}" alt="NewsImage" />
        </td>
      </ng-container>

      <ng-container cdkColumnDef="description">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Description</th>
        <td cdk-cell *cdkCellDef="let row">
          {{ row.description }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="author">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Name</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.author | truncate: 20 }}</td>
      </ng-container>

      <ng-container cdkColumnDef="date">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Date</th>
        <td cdk-cell *cdkCellDef="let row">
          {{ row.publishedAt | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="url">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Link</th>
        <td cdk-cell *cdkCellDef="let row">
          <a class="link" target="_blank" href="{{ row.url }}">Read More</a>
        </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
