<div class="auth-box">
  <div class="container">
    <div class="auth-form">
      <h3>Login page</h3>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="auth-form__form"
      >
        <mat-form-field class="auth-form__row" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            placeholder="email@domain.com"
            formControlName="email"
          />
        </mat-form-field>
        <mat-form-field
          class="auth-form__row"
          hintLabel="Min 4 symbols"
          appearance="fill"
        >
          <mat-label>Password</mat-label>
          <input
            [type]="hide ? 'password' : 'text'"
            matInput
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <button
          type="submit"
          color="primary"
          [disabled]="loginForm.invalid"
          mat-raised-button
        >
          Login
        </button>
        <a class="auth-button-reg" routerLink="/registration" color="primary">
          Not Registered?
        </a>
      </form>
    </div>
  </div>
</div>
